.slider-image{
    height: 1000px !important;
    object-fit: cover;
}
.service_icon{
    font-size: 80px;
}
.background1{
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1400' height='560' preserveAspectRatio='none' viewBox='0 0 1400 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1145%26quot%3b)' fill='none'%3e%3crect width='1400' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c438.033C96.803%2c446.28%2c204.908%2c498.503%2c285.49%2c444.232C366.216%2c389.864%2c343.212%2c263.628%2c387.58%2c177.002C435.002%2c84.415%2c572.421%2c22.72%2c553.801%2c-79.625C534.966%2c-183.151%2c377.288%2c-187.711%2c306.983%2c-266.002C238.663%2c-342.082%2c246.429%2c-480.847%2c154.08%2c-524.748C62.444%2c-568.31%2c-48.901%2c-522.238%2c-140.577%2c-478.761C-223.889%2c-439.25%2c-275.305%2c-360.541%2c-336.882%2c-291.91C-399.664%2c-221.935%2c-472.518%2c-160.833%2c-504.985%2c-72.606C-542.33%2c28.876%2c-584.643%2c148.322%2c-534.059%2c243.896C-483.435%2c339.547%2c-357.563%2c361.141%2c-255.853%2c398.114C-173.054%2c428.213%2c-87.782%2c430.555%2c0%2c438.033' fill='%23091b2e'%3e%3c/path%3e%3cpath d='M1400 1100.519C1512.833 1096.3690000000001 1633.488 1131.9850000000001 1730.872 1074.847 1829.279 1017.108 1880.281 904.245 1918.027 796.575 1953.4450000000002 695.546 1954.757 588.39 1938.5059999999999 482.574 1922.38 377.567 1899.6100000000001 267.38 1825.122 191.63 1752.259 117.53300000000002 1643.499 97.678 1541.3319999999999 78.66899999999998 1447.534 61.216999999999985 1355.629 74.36200000000002 1261.018 86.67200000000003 1148.62 101.29599999999999 1009.489 71.64299999999997 935.4839999999999 157.49400000000003 861.453 243.37599999999998 927.648 377.549 913.322 490.026 899.316 599.992 827.59 702.047 852.361 810.098 879.155 926.973 947.175 1043.596 1053.108 1099.774 1157.375 1155.068 1282.059 1104.857 1400 1100.519' fill='%23133960'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1145'%3e%3crect width='1400' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.img_banner2{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    object-fit: cover;
}
.client_Img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    background: none;
    border-radius: 50%;
}